


.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

.modal-content {
    background: transparent;
    border: none;
  }
  .modal-body {
    background: rgba(255, 255, 255, 0); /* Slightly transparent white background */
    
  }
  .form {
    position: relative;
    width: 100%;
  }
  .form-input {
    width: 100%;
    padding-left: 40px;
    
  }
  .fa-search {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
  }
  .left-pan {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #999;
  }